
	<li class="yuimenuitem">
    		<a class="yuimenuitemlabel" id="recursiveLink" href="#">Download Recursively</A>
            <script type="text/javascript">
                document.getElementById("recursiveLink").onclick = function() {
                    xModalConfirm({
                        title: "Warning",
                        okAction: function()
                            {
                                window.location = serverRoot+"/data/services/extensions/getprojectfiles/$project.getId()"
                            },
                        cancelAction: function(){},
                        content: "Are you sure you want to download all files associated with Project $project.getId()? This may take a while."
                    })
                    return false;
                };
            </script>
   	</li>
